<h2 class="text-center m-5">Full List passengers</h2>



<div class="container">

    <div ngxUiLoaderBlurred >
        <div class="card-deck">

            <div *ngFor="let pasajero of infoService.pasajeros" class="card">
                <img [src]="pasajero.url" class="card-img-top" [alt]="pasajero.name">
                <div class="card-body">
                    <h5 class="card-title">{{pasajero.name}}</h5>
                    <small class="form-text text-muted">Email</small>
                    <p class="card-text">{{pasajero.email}}</p>
                    <small class="form-text text-muted">Phone</small>
                    <p class="card-text">{{pasajero.phone}}</p>
                    <small class="form-text text-muted">Meeting</small>
                    <p class="card-text">{{pasajero.meetingStreet}}</p>
                    <small class="form-text text-muted">Final destination</small>
                    <p class="card-text">{{pasajero.finalDestination}}</p>
                </div>
                <button routerLink="home" type="button" class="btn btn-outline-primary p-3">See full description</button>
                <div class="card-footer mt-3">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <button routerLink="home" type="button" class="btn btn-outline-primary  btn-block m-5">Return home</button>
        </div>
    </div>


</div>