<!-- <div class="card"> -->
<div class="container">

    <div class="card-header row justify-content-between">

        <div class="col-6">
            <h5>Passenger Info</h5>
        </div>

        <div class="col-6 custom-control custom-switch ">
            <input type="checkbox" class="custom-control-input ml-auto" id="customSwitch1" checked="">
            <label class="custom-control-label" for="customSwitch1">Hide Information</label>
        </div>

    </div>

    <div class="card-body">
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="row">Data</div>
                    <div class="row">Data</div>
                    <div class="row">Data</div>
                    <div class="row">Data</div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">Column</div>
                        <div class="col">Column</div>

                    </div>
                    <div class="row">
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                    </div>
                </div>
            </div>

        </div>
        <hr>



    </div>
</div>