<div class="jumbotron-fluid text-center">
    <h1 class="display-4">Hello, Welcome to this passengers control!</h1>
    <p class="lead">The propurse of this app is see all passenger details, made it with Bootstrap and using angular,
        getting the data from Google Firebase.</p>
    <hr class="my-4">
    <p>Feel free to visit my github repository or contact me if you want to get code source.</p>
    <p class="lead">
        <a class="btn btn-outline-primary btn-lg" href="#" role="button">See all passengers</a>
    </p>
</div>

<div class="container">
    <app-card></app-card>
</div>