<footer class="container-fluid navbar-dark bg-dark text-light text-center ">


        <p class="py-2">{{servicio.info.titulo}}  © {{ anio }} - {{servicio.info.email}} </p>


        <ul class="list-inline">
                <a [href]="servicio.info.github" target="_blank "><i
                                class="fab fa-github mr-3 py-3 fa-lg iconsFooter "></i></a>
                <a [href]="servicio.info.linkedin" target="_blank "><i
                                class="fab fa-linkedin mr-3 py-3 fa-lg iconsFooter "></i></a>
                <a [href]="servicio.info.facebook" target="_blank "><i
                                class="fab fa-facebook mr-3 py-3 fa-lg iconsFooter "></i></a>

        </ul>



</footer>