<footer class="container-fluid navbar-dark bg-dark text-light text-center fixed-bottom">


        <p class="py-2">Fernando Ramirez &copy; {{ anio }} - ferjaviramirez@gmail.com</p>


        <ul class="list-inline">
                <a href="https://github.com/ferjavi40 " target="_blank "><i
                                class="fab fa-github mr-3 py-3 fa-lg iconsFooter "></i></a>
                <a href="https://www.linkedin.com/in/fernando-javier-ramirez-obando-345a03163/ " target="_blank "><i
                                class="fab fa-linkedin mr-3 py-3 fa-lg iconsFooter "></i></a>
                <a href="https://www.facebook.com/fernando.javier40/ " target="_blank "><i
                                class="fab fa-facebook mr-3 py-3 fa-lg iconsFooter "></i></a>

        </ul>



</footer>